# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# IDE / project files
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.unityproj

# OS / misc
.DS_Store
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
